*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
    font-family: 'Roboto', sans-serif;
}
header{ 
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    margin:0 10px;
}
h1{ 
    margin-left: 10px;
}
header img{ 
    width: 40px;
}
#button{ 
    width: 5%;
    position: absolute;
    right: 0;
}
#level{ 
    position: absolute;
    right: 70px;
}
main{ 
    background-color:#7fffd4;
    height: 550px;
    overflow: auto;
    
}
#grid{
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    
    
    
}
.easy{ 
    border: 1px solid black;
    width: 10%;
    height:calc(40vw / 10 );
}
.medium{
    border: 1px solid black;
    width: calc(100% / 9);
    height:calc(40vw / 9 );
}
.hard{ 
    border: 1px solid black;
    width: calc(100% / 7);
    height:calc(40vw / 7 );
}
   
.squareBlue{ 
    background-color: blue;
}

footer{ 
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin-left: 10px;
}
a{ 
    color: blueviolet;
}